# Python
__pycache__/
*.py[cod]
*.pyo

# venv
.venv/
venv/

# pytest
.coverage
.pytest_cache/

# env
.env

# packaging artifacts
*.egg-info/
dist/
build/

# macOS
.DS_Store
._*

# IDE
.idea/

# Database
hackathon_bot.db

# local artifacts
.coverage
*.db
dev.db
